:root {
  --ion-background-color: #fff;
  --ion-card-background: #fff;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-font-family: inherit;

  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
