:root {
  --ion-background-color: #fff;
  --ion-card-background: #fff;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-font-family: inherit;

  --background: #ffffff;
  --foreground: #171717;
}
